{
    margin: 0;padding:0;
}

.carrosel{
    width: 1200px;
    height: 400px;
    /*outline: 3px solid black;*/
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
}

.carrosel ul{
    
    display: flex;
    list-style: none;
    width: 1200px;
    height: 250px;
    
}

.carrosel li{
    position: relative;
    animation: slide 15s infinite ease-out;
}

@keyframes slide {
    0%{left: 0px}
    20%{left: 0px}

    30%{left: -400px}
    50%{left: -400px}
    
    60%{left: -800px}
    90%{left: -800px}

    100%{left: 0px}
}