.allsite{
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(13, 36, 50);
    max-width: 1260px;
    display: flexbox;

}
#corpo {
    justify-content: center;     
    width: 98%;
    max-width: 1560px;
    align-items: center;
    position: absolute;
    
    
}

#logo {
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    font-size: 25px;
    max-width: 1260px;
}

.menu {
    justify-content: center;
    display: flex;
    position: relative;
}

#ahome{
    display: flexbox;
    width: 140px;
    height: 50px;
    position: relative;
}

#aatuacao{
    position: relative;
    display: flexbox;
    width: 260px;
    height:50px
}

#acontato{
    position: relative;
    display: flexbox;
    width: 140px;
    height: 50px;

}

.menu a {
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;
}


#main{

    justify-content: center;        
    width: 99%;
    max-width: 1560px;
    position: relative;
    height: 860px;
    
}

.box{
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 36, 50);
    position: absolute;
    left: 7%;
    padding: 15px;
    border-radius: 20px;
    width: 40%;
    max-height: 90%;
    background-color: #344f59;
}

fieldset{
    border: 3px solid  rgb(13, 36, 50);
    border-radius: 15px;
    position: relative;
}

legend{
    border: 1px solid #a67d4b;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    background-color: #a67d4b;
}

.inputbox{
    
    position: relative;
}

.inputuser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(13, 36, 50);
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;

}

.labelinput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;

}

.inputuser:focus ~ .labelinput,
.inputuser:valid ~ .labelinput{
    top: -20px;
    font-size: 12px;
    color: #d9c382;
}

#previa{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, grey, rgb(13, 36, 50));
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
}

#resumo{
    color: #d9c382;
}


#submit{
    background-image: linear-gradient( to right, #344f59, rgb(13, 36, 50));
    width: 50%;
    padding: 20px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 1px;
    margin-bottom: 7px;
    margin-left: 24%;
    position: relative;
    box-shadow: #d9c382 1px 1px 5px 5px;
}

#imgform{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 2.5%;
    height: 100%;
    max-height: 860px;
}

#prodape{
    
    margin-left: 3px;
    font-size: large;
    letter-spacing: 1px;
}

.info{
   display: flex;
    
}
.rodape{
    justify-content: center;
    align-items: center;
    border-top: #344f59 solid 2px;
    color: #d9c382;
    margin-top: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 1260px;
    display: flex;
    margin-left: 2.5%;

}

.nome{
    margin-left: 1%;
    font-size: large;
    letter-spacing: 1px;
    padding: 2px;

}

.horario{
    position: relative;
    margin-left: 300px;  
    
}

.ctt{
    margin-left: 24%;
}

#telctt{
    margin-left: 14%;
}