
.html{
    background-color: rgb(13, 36, 50);}
    

}

.galery{
    width: 1330px;
    height: 780px;
    border: 5px solid;
    background-color: black;
    overflow: hidden;
}
.galery .imagens{
    width: 500%;
    animation-name: temporizadorimagens;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

.galery .imagens img{

    width: 19.9%;
}

nav{
    display: flex;
    flex-direction: center;
}

.menu{
    text-align: center;
    text-decoration-color: rgb(148, 12, 12);
    background-color: rgb(13, 36, 50);
    display: flex;
    list-style: none;
    align-items: ;
    margin: 0px;
    padding: 20px;
    padding-right: 75px;
    border: rgb(3, 1, 17) solid;
}
.menu li a{
    font-size: 30px;
    color: rgb(231, 215, 195);
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

.sessao{
    background-color:  rgb(146, 85, 5);
}

#quemsomos{
    border: black solid;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    width: 1290px;
    height: 360px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
