#allsite{

    background-color: rgb(13, 36, 50);
    justify-content: center;
    align-items: center;
    padding: 1px 30px 1px 150px;
    border-left: rgb(176, 144, 83) solid 4px;
    border-right: rgb(176, 144, 83) solid 4px;
    width: auto;
    height: 760px;
    max-width: 1360px;
    position: relative;
}

.corpo {

    width: 99%;
    max-width: 1560px;
    transform: scale(0.9);
    transform-origin: 0 0;
        
}
#cabecario{

    display: flex;
    width: 1280px;
    max-width: 1560px;
    height: 150px;
    max-height: 150px;
    font-style: italic;
    
}

.carrosel {
    
    align-items: center;
    justify-content: center;
    display: flex;

    width: 80%;
    max-width: 1560px;
    height: 25vw;
    max-height: 180px;
    position: relative;
    
}

.carrosel img {
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 1000ms;
}

.carrosel img.selected {
    opacity: 1;
}

.nav {
    width: 99%;
    font-size: 25px;
    max-width: 1260px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(231, 215, 195);
    display: flex;
    flex-direction: center;
    padding-top:20px;
    position: relative;
}

.menu {
    padding-top: 8%;
    background-color: rgb(13, 36, 50);
    display: flex;
 
}

.menu a {
    font-size: 30px;
    color: rgb(231, 215, 195);
    text-decoration: none;
    margin-left: 10px;
}

#quemsomos {
    
    width: 99%;
    text-align: center;
    font-size: 25px;
    max-width: 1260px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 215, 195);
    position: absolute;
    font-style: italic;
}