#allsite{
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(13, 36, 50); 

}

.corpo {
    justify-content: center;       
    width: 100%;
    max-width: 1560px;
    align-items: center;
    position: absolute;
}
   
.carrosel {
    align-items: center;
    justify-content: right;
    display: flex;

    width: 80%;
    max-width: 1560px;
    height: 25vw;
    max-height: 180px;
    position: relative;
    margin: auto;
}

.carrosel img {
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 1000ms;
}

.carrosel img.selected {
    opacity: 1;
}

.nav {
    width: 100%;
    font-size: 25px;
    max-width: 1260px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(231, 215, 195);
    display: flex;
    position: absolute;
}

.menu {
    justify-content: center;
    display: flex;
    position: relative;
 
}

.menu a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#quemsomos {
    
    width: 95%;
    text-align: center;
    font-size: 25px;
    max-width: 1260px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 215, 195);
    position: absolute;
    font-style: italic;
}
#ahome{

    display: flexbox;
    width: 140px;
    height: 50px;
    position: relative;
}
#aatuacao{
    position: relative;
    display: flexbox;
    width: 260px;
    height:50px
}
#acontato{
    position: relative;
    display: flexbox;
    width: 140px;
    height: 50px;
}

#logo {
    display: flex;
    justify-content: center;
    position: relative;

}
