#allsite{
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(13, 36, 50);  
}

#corpo {
    justify-content: center;     
    width: 100%;
    max-width: 1560px;
    align-items: center;
    position: absolute;
    
}

#logo {
    display: flex;
    justify-content: center;
    position: relative;
}


.menu {
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
  
}

.menu a {
    text-align: center;
    font-size: 30px;
    color: white;
    text-decoration: none;

}

#ahome{
    position: relative;
    width: 140px;
    height: 50px;
}

#aatuacao{
    position: relative;
    width: 260px;
    height:50px;
    object-position: center;
}

#acontato{
    position: relative;
    width: 140px;
    height: 50px;

}

#main{
    justify-content: center;        
    width: 100%;
    max-width: 1560px;
    position: relative;
    display: flex;
}

#areas{
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;

}

#titulo{
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

#area1{
    font-size: 28px;
    display: flex;
    justify-content: center;
    font-style: italic;
}

