.corpo {
    background-color: rgb(13, 36, 50); 
    justify-content: center;       
    width: 100%;
    max-width: 1560px;
    align-items: center;
}
   
.carrosel {
    align-items: center;
    justify-content: right;
    display: flex;
    box-shadow: #d9c382 2px 2px 3px;
    width: 80%;
    max-width: 1560px;
    height: 25vw;
    max-height: 180px;
    position: relative;
    margin: auto;
}

.carrosel img {
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 1000ms;
}

.carrosel img.selected {
    opacity: 1;
}

#logo{
    text-align: center;
}


.nav {
    width: 100vw;
    font-size: 25px;
    max-width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 10vh;

}

.nav-list {
    list-style: none;
    display: flex;
  }
  
.nav-list a {
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: 32px;
    color: rgb(231, 215, 195);
    height: 14vh;
    margin-top: 7%;
  }

.nav-list img{
    width: 8vw;
    height: 14vh;
    margin-top: 2.8%;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
    
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
  @media (max-width: 999px) {
    .corpo {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 40vh;
      right: 0;
      width: 50vw;
      height: 60vh;
      background: rgb(13, 36, 50, 0.8);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list a {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

#quemsomos {
    
    margin-left: 10%;
    width: 95%;
    text-align: center;
    font-size: 25px;
    max-width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 215, 195);
    position: absolute;
    font-style: italic;
    margin-bottom: 7%;
    margin-top: 7%;
    position: relative;
    border: #d9c382 2px solid;
    border-radius: 10px;
    padding: 2% 4%;
    box-shadow: black 7px 7px 7px;
}


.rodape{
    background-image: linear-gradient(to top, rgba(97, 97, 97, 0.233), rgb(13, 36, 50, 0.8));
    justify-content: center;
    align-items: center;
    color: #d9c382;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 40px;
    width: 95%;
    margin-left: 2.5%;
    position: relative;
    margin-right: 2.5%;
}

.base{
    border-top: #d9c382 3px;
    display: flex;
    position: relative;
    text-align: center;
}

.ctt{
    padding: 5% 12%;
    margin-top: 1%;
}

#prodape{
    display: flex;
}

.horario{
    padding: 5% 12%;
    
   
}
