
#home{

    background-image: url(./ImagensKalebeAdv/img1.jpg);
    background-repeat: no-repeat;
    background-size: 1340px;
    height: 1340px;

    color: white;
}

nav{
    display: flex;
    padding-left: 110x;
    flex-direction: center;
}

.menu{
    text-align: center;
    text-decoration-color: white;
    background-color: rgb(146, 85, 5);
    display: flex;
    list-style: none;
    align-items: center;
    padding: 20px;
}
.menu li a{
    font-size: 30px;
    color: rgb(231, 215, 195);
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

.sessao{
    background-color:  rgb(146, 85, 5);
}
