#allsite{
    justify-content: center;
    align-content: center;
    align-items: center;
}
#corpo {

    justify-content: center;
    background-color: rgb(13, 36, 50);        
    width: 99%;
    max-width: 1560px;
    align-items: center;
    position: absolute;
    
}

#logo {
    display: flex;
    justify-content: center;
}

.nav {
    padding:  200px 10px 200px 10px;
    justify-content: center;
    width: 99%;
    font-size: 25px;
    max-width: 1260px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(231, 215, 195);
    flex-direction: center;
    object-position: center;
    display: flex;
}

.menu {
    justify-content: center;
    background-color: rgb(13, 36, 50);
    display: flex;
    position: relative;
}
#ahome{

    display: flexbox;
    width: 140px;
    height: 50px;
    position: relative;
}
#aatuacao{
    position: relative;
    display: flexbox;
    width: 260px;
    height:50px
}
#acontato{
    position: relative;
    display: flexbox;
    width: 140px;
    height: 50px;

}
.menu a {
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

#fc{
    color: white;
}

#main{

    justify-content: center;        
    width: 99%;
    max-width: 1560px;
    position: absolute;
}
.form-group{
    
    align-items: center;
    width: 600px;
}

#solicitacao{

    width: 600px;
    
}